/chat-notes/Android Sockets.md
/chat-mobile/app/src/main/res/values/dimens.xml
/chat-mobile/app/src/main/res/values-land/dimens.xml
/chat-mobile/app/src/main/res/values-w600dp/dimens.xml
/chat-mobile/app/src/main/res/values-w1240dp/dimens.xml
